version: '3.8'

services:
  app:
    build: .
    container_name: ilearnbackend
    ports:
      - "${PORT}:${PORT}"  # Use the PORT defined in .env
    environment:
      - MONGO_URI=${MONGO_URI}  # Use MONGO_URI defined in .env
      - PORT=${PORT}
    env_file:
      - .env
    restart: always
    volumes:
      - ./serviceAccountKey.json:/app/src/config/serviceAccountKey.json
      - .:/app 

